<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="none_macro" params="prefix connected_to">
    <!-- URDF for *no* gripper: define grasp_link with no geometry &
         connect it at flange -->

    <link name="grasp_link"/>

    <!-- joint list -->
    <joint name="${prefix}grasp_joint" type="fixed">
      <parent link="${connected_to}"/>
      <child link="${prefix}grasp_link"/>
      <origin rpy="0.0 0.0 0.0" xyz="0 0 0"/>
    </joint>

  </xacro:macro>
</robot>
