<?xml version="1.0" ?>
<robot name="za6_none" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- URDF for *no* gripper:  no geometry; tool0 is at flange -->
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="build" default="false"/>
  <xacro:if value="$(arg build)">
    <xacro:include filename="$(cwd)/urdf/none_macro.xacro"/>
  </xacro:if>
  <xacro:unless value="$(arg build)">
    <xacro:include filename="$(find za6_tools)/urdf/none_macro.xacro"/>
  </xacro:unless>

  <link name="tool0"/>
  <joint name="flange-tool0" type="fixed">
    <parent link="manual_grasp_link"/>
    <child link="tool0"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
  </joint>

  <!-- 'flange' frame: default pose reference frame -->
  <link name="flange" />

  <xacro:none_macro
      prefix="$(arg prefix)"
      connected_to="$(arg prefix)flange"/>

  <!-- Moveit Studio requires a link name called manual_grasp_link to
       perform quick tasks such as inspect surface -->
  <link name="manual_grasp_link" />
  <joint name="grasp-manual_grasp" type="fixed">
    <parent link="grasp_link"/>
    <child link="manual_grasp_link"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
  </joint>
</robot>
