<?xml version="1.0" ?>
<robot name="za6" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:include filename="$(find za6_tools)/urdf/pivot_gripper_macro.xacro"/>

  <!-- 'flange' frame: default pose reference frame -->
  <link name="flange" />

  <xacro:pivot_gripper_macro
      prefix="$(arg prefix)"
      connected_to="flange-$(arg prefix)za6_pivot_adapter"/>
</robot>
