<?xml version="1.0" ?>
<robot name="za6_versabuilt_multigrip" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="build" default="false"/>
  <xacro:if value="$(arg build)">
    <xacro:include filename="$(cwd)/urdf/versabuilt_multigrip_macro.xacro"/>
  </xacro:if>
  <xacro:unless value="$(arg build)">
    <xacro:include
        filename="$(find za6_tools)/urdf/versabuilt_multigrip_macro.xacro"/>
  </xacro:unless>

  <!-- Moveit Studio requires a link name called manual_grasp_link to
       perform quick tasks such as inspect surface -->
  <link name="manual_grasp_link" />
  <link name="tool0"/>
  <joint name="tool0_joint" type="fixed">
    <parent link="manual_grasp_link"/>
    <child link="tool0"/>
    <axis xyz="0 1 0"/>
    <origin rpy="${pi/36} 0 -${pi}" xyz="0.0 -0.016124 -0.18430"/>
  </joint>

  <xacro:versabuilt_multigrip_macro
      prefix="$(arg prefix)"
      connected_to="$(arg prefix)tool0"/>
</robot>
